body {
  background-color: #121212;
  color: #eee;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  font-family: "Courier New", Courier, monospace;
  line-height: 1.2;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.bloco {
  margin-bottom: 20px;
}

.btt {
  display: flex;
  justify-content: flex-end;
}

.toggle {
  background-color: #1e1e1e;
  border: solid 1px #555;
  color: #eee;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

.toggle:hover {
  background-color: #333;
}

button {
  width: 62.67px;
}

@media (max-width: 768px) {

  h2 {
    font-size: 17px;
  }
}

/* ======== NOVO TEMA modewhite ========  */

body.modewhite {
  background-color: #f7f7f7;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

body.modewhite h2 {
  background-color: #ccc;
  color: #333;
}

body.modewhite h1 {
  color: #333;
}

body.modewhite .toggle {
  background-color: #f7f7f7;
  border: solid 1px #cccccc;
  color: #333;
}

body.modewhite .toggle:hover {
  background-color: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

