*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #1a1a1a;

}

.cadastro{
    margin-top: 30px;
    padding: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin-bottom: 20px;
    background-color: #0d0d0d;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(255, 0, 255, 0.1);
    border: 1px solid #555351;

}

h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #555351;
}

input, button{
    border-radius: 5px;
    height: 40px;
    padding: 5px;
    background-color: #e0e0e0;
    border: 1px solid #555351;
}

button{
    color: #555351;
}

.areacards{
    width: 70vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #0d0d0d;
    border-radius: 5px;
    border: 1px solid #555351;
    padding: 30px;
    box-shadow: 0 0 30px rgba(255, 0, 255, 0.1);

}

.carta{
    border: 1px solid black;
    border-radius: 5px;
    width: auto;
    padding: 10px;
    height: 80px;
    margin: 5px;
    border: 1px solid #555351;
    color: #e0e0e0;
    font-size: large;
}